<!DOCTYPE html>
<html lang="zh-HK">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Fitness</title>
    <link rel="stylesheet" href="/index/style.css">
    <link rel="stylesheet" href="/login/login.css">
</head>
<body>
    <%- include('_partials/nav') %>
    <header>
        <h1><%= company_name %></h1>
        <p>Make yourself stronger than your excuses. 💪</p>
    </header>

    <section>
    <div class="login-container">
        <div class="login-box">
            <h2>Log in to your fitness account</h2>
            <form id="loginForm">
                <input type="email" id="email" name="email" placeholder="Email" required>
                <input type="password" id="password" name="password" placeholder="Password" required>
                <p class="forgot"><a href="/auth/resetPassword">forgot password？</a></p>
                <button type="submit" id="login-button">submit</button>
                <p class="signup">Not a member yet? <a href="/auth/register">Register now</a></p>
            </form>
        </div>
    </div>
    <!-- DEBUG NOTE:                                             -->
    <!-- in auth.route.js, the BE flow is changed to redirect to -->
    <!--   /dashboard after login with successful authentication -->
    <!--   also, FE redirect to /dashboard will not work because -->
    <!--   of session req.session.user checking, it will loop    -->
    <!--   back to /auth/login and got stuck, therefore redirect -->
    <!--   at BE instead. Therefore, commented out FE login.js   -->
    <!-- <script src="/login/login.js"></script>                 -->
    </section>

    <button onclick="scrollToTop()" class="top-button">Back to top ↑</button>

    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h4>Contact Us</h4>
                <p>Email: info@GymFitness.com</p>
                <p>Phone: +852 1234 5678</p>
                <p>Address: 88 Fitness Road, Causeway Bay, Hong Kong</p>
            </div>

            <div class="footer-section">
                <h4>Quick navigation</h4>
                <nav>
                    <a href="/">Home</a>
                    <a href="/about">About Us</a>
                    <a href="/services">Our Services</a>
                    <a href="/trainers">Our Trainers</a>
                    <a href="/auth/login">Membership</a>
                    <a href="/contact">Contact Us</a>
                </nav>
            </div>

            <div class="footer-section">
                <h4>Follow us</h4>
                <a href="#">Facebook</a><br>
                <a href="#">Instagram</a><br>
                <a href="#">YouTube</a>
            </div>
        </div>
        <p class="footer-credit">&copy; 2025 Gym Fitness | All rights reserved</p>
    </footer>

    <script src="/index/script.js"></script>
</body>
</html>
