<!DOCTYPE html>
<html lang="zh-HK">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Reset fitness account password</title>
  <link rel="stylesheet" href="/reset/reset.css">
  <link rel="stylesheet" href="/index/style.css">
</head>
<body>
  <%- include('_partials/nav') %>
  <div class="reset-container">
    <div class="reset-box">
      <h2>Reset Password</h2>
      <form id="resetForm">
        <input type="email" id="email" placeholder="email" required>
        <input type="password" id="newPassword" placeholder="NewPassword" required>
        <input type="password" id="confirmPassword" placeholder="ConfirmPassword" required>
        <button type="submit" id="submitButton">submit</button>
        <button id="backButton">back</button>
      </form>
    </div>
  </div>
  <script src="/reset/reset.js"></script>
</body>
</html>
